

<div class="container">
	<h1> TradeWhistle </h1>
<a>Thanks for importing all the teams. Click the button below in order to download all the statistics</a>
	<form class="form-signin" role="form">
		<a href="/download" class="btn btn-lg btn-primary btn-block" id= "yahoo">Download the Data Now</a>
	</form>
</div> <!-- /container -->