<p>Thanks for authorizing us! We are now going to start importing data for your league. Click the import button below in order to start the import.</p>

<a href="/import"><button>Import Me!</a>
<%=h @json_hash %>