<div class="container_deag">
    <h1> TradeWhistle </h1>
	<%= image_tag "whistle1.png" %>
	<h2>You have authorized us to view your fantasy league!</h2>
	<h2>Click button below to import your league data</h2>
     <form class="form-signin" role="form">
		<a href="/download" class="btn btn-lg btn-primary btn-block" id= "yahoo">Import</a>
	</form>     
</div> <!-- /container -->