<div class="container_deag">
    <h1> TradeWhistle </h1>
	<%= image_tag "whistle1.png" %>
	<h3 style="color:white">You have authorized us to view your fantasy league!</h3>
	<h3 style="color:white">Click button below to import your league data</h3>
     <form class="form-signin" role="form">
		<a href="/download" class="btn btn-lg btn-primary btn-block" id= "yahoo">Import</a>
	</form>     
</div> <!-- /container -->