<html>
    <head>
        <title>Trade Whistle League View</title>
        <link href ="bootstrap-3.2.0-dist/css/bootstrap.css" rel="stylesheet">
        <link href ="team_view.css" rel = "stylesheet">
        <link href="bootstrap-switch.css" rel="stylesheet">
    </head>
    <body>
        <script src="bootstrap-switch.js"></script>
        <script src="jquery-2.1.1.js"></script>
        <script src="bootstrap-3.2.0-dist/js/bootstrap.js"></script>
         <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Trade Whistle</a>
        </div>
        <div class="navbar-collapse collapse">
        </div><!--/.navbar-collapse -->
      </div>
    </div>
    <div class="container container-sm-height" role="main"> 
      <!-- Example row of columns -->
      <div class="row row-sm-height">
          <div class="col-md-2 col-sm-height">
              <div class = "frame"><img class = "prof-pic" src = "user_image.jpg"></div>
          </div>
        <div class="col-md-2 col-sm-height">
            <h3>Rourke Healey</h3>
            <span>Team Name: --Swag--</span> <br>
            <span>Record: 0-3</span>
          </div>
        <div class="col-md-8 col-sm-height">
          <h3>Options</h3>
            <div class="dropdown">
              <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
                Choose Team
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Team 1</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Team 2</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Team 3</a></li>
            </ul>
            </div>
            <div class="dropdown">
              <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
                Choose Metric
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Projected Points (Weekly)</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">PRK</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Percent Owned</a></li>
                <li role="presentation" class="divider"></li>
              </ul>
            </div>
       </div>

        <div class = "row">
            <div class
          </div>
    </div>
    <script>
        $("[name='my-checkbox']").bootstrapSwitch();
    </script>
    </body>
</html>